// RegisterPage.scss
.background-container {
  position: relative;
  height: 705px;
}

.blur-overlay3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./backpics/snp.png');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: -1;
}

.register-container {
    max-width: 400px;
    z-index: 1;
    margin: 100px auto 0;
    padding: 20px;
    background-color: rgb(26, 42, 50);
    border: 1px;
    border-radius: 5px;
  
    .success-message {
      color: #2ecc71;
      margin-bottom: 10px;
    }
  
    .form-group {
      margin-bottom: 15px;
      label {
        display: block;
        color: white;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 5px; // Add some space between input fields
      }
    }
  
    .register-button {
      background-color:#f98f05;
      color:#ffffff;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin-bottom: 18px;
  
      &:hover {
        background-color:#ffffff;
        color:#f98f05;
      }
    }
  
    .login-link {
      color: #f98f05;
      text-decoration: none;
      margin-top: 10px;
      display: inline-block;
      text-align: center;
  
      &:hover {
        color: #efe9e1;
      }
    }
  
    .prr {
      display: block;
      color: white;
      margin-bottom: 5px;
    }
  
    @media screen and (max-width: 600px) {
      .register-container {
        width: 60%;
      }
    }
  }
  