.aboutlist{
    font-size: 19px;
    margin-right: 50px;
    cursor: pointer;
    z-index: 2;
    
    &.active{
        color:rgba(80, 56, 8, 0.712);
        text-decoration: underline;
    }
}
@media screen and (max-width: 1024px) {
    .aboutlist{
    visibility: collapse;
    }
}