

.home {
  position: relative;
  overflow: hidden;
  height: 68vh;

  .media-icons {
    position: fixed;
    top: 37%;
    right: 31px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 10px;
    z-index: 10;
    
    a {
      color: black;
      font-size: 24px;
      transition: color 0.3s;
  
      &:hover {
        color: gray;
      }
    }
  }
  .imgContainer {
    position: relative;
    height: 68vh;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      height: 110vh;
    }

    .textOverlay {
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      color: #261701;

      &.animate .title {
        animation: fadeOut 7s forwards;
      }

      &.animate .subtitle {
        animation: fadeInOut 7s 1s forwards; // Start 1 second after title
      }

      .title {
        font-size: 74px;
        margin-left: 60px;
        opacity: 1;
      }

      .subtitle {
        font-size: 65px;
        margin-left: 214px;
        opacity: 0;
        font-family: "Lusitana", serif;
      }
    }
  }

  .dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: #333;
      }
    }
  }
}

@keyframes fadeInOut {
  0%, 20% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {

  
.home {

  height: 38vh;

  .media-icons {
    position: fixed;
    
    a {
      color: black;
      font-size: 10px;
      transition: color 0.3s;
  
      &:hover {
        color: gray;
      }
    }
  }
  .imgContainer {
    position: relative;
    height: 68vh;
    overflow: hidden;

    img {

      height:75vh;
    }

    .textOverlay {
      position: absolute;
      top: 30%;
      left: 40px;
      transform: translateY(-50%);
      color: #261701;

      .title {
        font-size: 30px;
        margin-left: 60px;
        opacity: 1;
      }

      .subtitle {
        font-size: 27px;
        margin-left: 214px;
        opacity: 0;
        font-family: "Lusitana", serif;
     
      }

    }
  }

}
}
@media (min-width: 601px) and (max-width: 900px) {
   
.home {

  height: 48vh;

  .media-icons {
    position: fixed;
    
    a {
      color: black;
      font-size: 14px;
      transition: color 0.3s;
  
      &:hover {
        color: gray;
      }
    }
  }
  .imgContainer {
    position: relative;
    height: 68vh;
    overflow: hidden;

    img {

      height:75vh;
    }

    .textOverlay {
      position: absolute;
      top: 35%;
      left: 60px;
      transform: translateY(-50%);
      color: #261701;

      .title {
        font-size: 44px;
        margin-left: 60px;
        opacity: 1;
      }

      .subtitle {
        font-size: 35px;
        margin-left: 214px;
        opacity: 0;
        font-family: "Lusitana", serif;
      }

    }
  }

}
}